.con-contact {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center; /* เพิ่มคำสั่งนี้ */
  
}

.box-contact {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #e8e8e8;
  width: 330px;
  height: 30px;
  border-radius: 15%;
  padding: 50px;
  margin: 10px;
  .icon {
    float: left;
    width: 35px;
    height: 35px;
    color: black;
  }
  .set-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    h2 {
      margin-bottom: 5px; 
    }
    p {
      margin-top: 5px;
      margin-left: 20px;
    }
    .icon-set{
      display: flex;
      justify-content: start;
      margin-left: 20px;
    }

  }
}

@media screen and (max-width: 1060px) {
  .con-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 280px) and (max-width: 320px) {
  
  .box-contact {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 160px;
    align-items: center;
    .icon{
      display: flex;
    flex-direction: column;
    align-items: center;
    }
    .icon-set{
      display: flex;
    flex-direction: column;
    align-items: center;
    }
    
  }
}
